NET "clk_i"           LOC = "A9" ;
NET "rst_i"           LOC = "A2" ;
NET "anodos_o<0>"     LOC = "F16" ;
NET "anodos_o<1>"     LOC = "F15" ;
NET "anodos_o<2>"     LOC = "J14" ;
NET "anodos_o<3>"     LOC = "J16" ;
NET "segmentos_o<7>"  LOC = "T7" ;
NET "segmentos_o<6>"  LOC = "R7" ;
NET "segmentos_o<5>"  LOC = "R15" ;
NET "segmentos_o<4>"  LOC = "R16" ;
NET "segmentos_o<3>"  LOC = "M15" ;
NET "segmentos_o<2>"  LOC = "M16" ;
NET "segmentos_o<1>"  LOC = "K15" ;
NET "segmentos_o<0>"  LOC = "K16" ;